.form {
  padding: 40px;
  background-color: $white;
  border-radius: 5px;
  &--fill{
    background-color: $gray;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 26px;
      color: $default;
    }
  }
  &__input--fill {
    background-color: $gray;
  }
  &__textarea {
    margin-bottom: 40px;
    height: 114px;
    resize: none;
  }
  &__btn {
    padding: 11px 29px;
  }
  &__btn--block {
    display: block;
    width: 100%;
  }
}