.portners {
  padding-top: 120px;
  padding-bottom: 120px;
  
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
  }
  &__item {
    filter: grayscale(1);
    // transition: filter .2s linear;

    &:hover {
      filter: grayscale(0);
    }
  }
}
