.pricing {
  background-color: $white;
  padding: 120px 0 120px;
  &__container {
    @include flex-v-center;
  }
  &__content {
    max-width: 300px;
    margin-right: 20px;
  }
}

.pricing-list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 20px;
}

.pricing-item {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  z-index: 1;
  &:hover {
    .pricing-item__face {
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
    .pricing-item__back {
      transform: rotateY(360deg);
      // &::before,
      // &::after  {
      //   transform: rotateY(360deg);
      //   transform: rotateY(360deg);
      // }
    }
  }
  &__face {
    padding: 27px 27px 30px;
    border-radius: 5px;
    box-shadow: 0px 20px 100px rgba(17, 28, 49, 0.15);
    transition: transform .8s ;
  }
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    padding: 27px 27px 30px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform .8s ;
    background-image: url('../images/way.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // &::before {
    //   @include bg-cover;
    //   position: absolute;
    //   content: '';
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-image: url('../images/way.jpg');
    //   transition: transform .8s ;
    //   backface-visibility: hidden;
    //   z-index: -2;
    //   transform: rotateY(180deg);
    // }
    // &::after {
    //   @include bg-cover;
    //   position: absolute;
    //   content: '';
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba($color: #111C31, $alpha: .85);
    //   transition: transform .9s ;
    //   backface-visibility: hidden;
    //   z-index: -1;
    //   transform: rotateY(180deg);
    // }
    .pricing-item__titl{
      border-color: $white;
      color: $white;
    }
    .pricing-item__sum,
    .pricing-item__item {
      color: $white;
    }
    .pricing-item__link {
      background-color: $accent;
    }
  }
  &__titl {
    @extend %public-600;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid $dark;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    transition: border-color .2s linear, color .2s linear;
  }
  &__sum {
    font-size: 36px;
    line-height: 60px;
    color: $accent;
    @extend %public-700;
    margin-bottom: 12px;
    transition: color .2s linear;
  }
  &__month {
    font-size: 16px;
    line-height: 28px;
    @extend %public-400;
  }
  &__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    transition: color .2s linear;

    &:last-child {
      margin-bottom: 23px;
    }

    &::before {
      @include bg-cover;
      position: absolute;
      content: '';
      top: 6px;
      left: 0;
      background-image: url('../images/icons/check.svg');
      width: 16px;
      height: 12px;
    }
  }
  &__link {
    padding: 12px 18px;
    transition: background-color .2s linear;
  }
}
